context=dso
image=0track/dso-server:latest
app=serverless-smile
version=0.1-SNAPSHOT
aws.region=REGION
aws.iam.role=arn:aws:iam::ACCOUNT:role/ROLE
aws.lambda.function.name=serverless-smile
aws.lambda.function.handler=smile.util.StatefulHandler
aws.lambda.function.arn=arn:aws:lambda:REGION:ACCOUNT:function:serverless-smile
dso.server=IP:PORT
smile.threads=1000
logging=true
